Repository waldur/waldur-homeport: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Run linters:
  stage: test
  interruptible: true
  script:
  - yarn format:check
  - yarn lint:check
  - yarn style:check
  - yarn deps:check

Run code duplication detection:
  stage: test
  interruptible: true
  script:
  - npm install -g jscpd
  - npx jscpd src/ --exitCode 1 -r consoleFull --pattern "**/*.scss"
  - npx jscpd src/ --exitCode 1 -r consoleFull --pattern "**/*.tsx" -k 250

Run jest tests:
  stage: test
  interruptible: true
  script:
  - yarn test
  coverage: /All\sfiles.*?\s+(\d+.\d+)/
  artifacts:
    when: always
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml

Run E2E tests:
  image:
    name: registry.hpc.ut.ee/mirror/cypress/included:13.2.0
    entrypoint:
    - ''
  stage: test
  interruptible: true
  script:
  - NO_COLOR=1 yarn ci:test
  artifacts:
    expire_in: 1 week
    when: always
    paths:
    - cypress/screenshots
    - cypress/videos
    reports:
      junit:
  ...

Cut the cold load: pre-bundle IdP redirect, lighter entry graph, immutable assets [waldur/waldur-mastermind#353]
  .gitlab-ci.yml
  Dockerfile
  docker/nginx-tpl.conf
  docs/architecture.md
  index.html
  package.json
  public/boot-redirect.js
  scripts/bundle-budget.mjs
  src/ErrorMessage.tsx
  src/LoadingScreen.tsx
  src/ai-assistant/lib/registry/registerComponents.ts
  src/auth/bootRedirect.test.ts
  src/core/lazyOnce.tsx
  src/form/index.ts
  src/marketplace/offerings/update/plans/AddPlanDialog.test.tsx
  src/marketplace/offerings/update/plans/EditPlanDescriptionDialog.test.tsx
  src/marketplace/offerings/update/plans/PlanForm.test.tsx
  src/marketplace/offerings/update/tos/AddTosDialog.test.tsx
  src/matrix/MatrixProviders.tsx
  src/matrix/MatrixRoot.tsx
  src/matrix/chat/MatrixChatContext.ts
  src/matrix/chat/MatrixChatProvider.tsx
  src/matrix/chat/call/MatrixCallHost.test.tsx
  src/matrix/chat/call/MatrixCallHost.tsx
  src/matrix/chat/useMatrixClient.ts
  src/navigation/sidebar/ReportingMenu.tsx
  src/reporting/constants.ts
  src/reporting/routes.ts
  src/reporting/screens.ts
  src/reporting/utils.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Convert MarketplaceLandingFilter to Radix Popover
  src/marketplace/landing/MarketplaceLandingFilter.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Convert DropdownBreadcrumbItem to Radix Popover
  src/navigation/header/breadcrumb/DropdownBreadcrumbItem.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Convert SearchToggle global search panel to Radix Popover
  src/navigation/header/search/SearchToggle.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Convert CallSettingsMenu device picker to Radix Popover
  src/matrix/chat/call/CallSettingsMenu.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Convert MatrixChatHeader members popover to Radix Popover
  src/matrix/chat/MatrixChatHeader.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fix select placeholder, arrow and disabled states in dark mode
  src/metronic/sass/custom/_select.scss
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Report projects, resources and cost by affiliated organization [#312]
  src/reporting/affiliated-organizations/AffiliatedOrganizationsReportPage.tsx
  src/reporting/affiliated-organizations/AffiliationReport.stories.tsx
  src/reporting/affiliated-organizations/AffiliationTables.tsx
  src/reporting/affiliated-organizations/useAffiliationReport.test.ts
  src/reporting/affiliated-organizations/useAffiliationReport.ts
  src/reporting/constants.ts
  src/reporting/routes.ts
  src/table/ActionsDropdown.tsx
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Document the last 14 Bootstrap dropdown conversions and the dropdown system map
  docs/tailwind-shadcn-migration-notes.md
Due: none

Restore table row dividers lost to a Sass block-scoping leak
  src/metronic/sass/_init-config.scss
  src/metronic/sass/_init-styles.scss
  src/metronic/sass/core/components/_tables.scss
  src/metronic/sass/core/components/_variables.scss
  src/metronic/sass/custom/_table.scss
  src/metronic/sass/init.scss
  src/metronic/sass/style.dark.scss
  src/metronic/sass/style.scss
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Take the fast path when the stored token has already expired [waldur/waldur-mastermind#353]
  public/boot-redirect.js
  src/auth/authNavigation.ts
  src/auth/bootRedirect.test.ts
  src/core/StorageManager.ts
  src/user/UsersService.test.ts
  src/user/UsersService.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Switch BaseButtonTw's focus ring to focus-visible, matching the real button
  packages/ui/src/BaseButton.tsx
Due: none

Restore aria-labelledby on MarketplaceLandingFilter's popover content
  src/marketplace/landing/MarketplaceLandingFilter.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Redesign BaseButton story as a Contained/Text state×variant grid
  packages/ui/src/BaseButton.stories.tsx
Due: none

Add success variant and size/icon-side controls to the button grids
  packages/ui/src/BaseButton.stories.tsx
Due: none

Rebuild BaseButton states story to match the Figma page layout
  packages/ui/src/BaseButton.stories.tsx
Due: none

Revert "Rebuild BaseButton states story to match the Figma page layout"
  packages/ui/src/BaseButton.stories.tsx
Due: none

Add IconOnlyStates story matching the Figma icon-button matrix
  packages/ui/src/BaseButton.stories.tsx
Due: none

Add page padding to the button state grids
  packages/ui/src/BaseButton.stories.tsx
Due: none

Default IconOnlyStates to lg, matching real icon-only usage
  packages/ui/src/BaseButton.stories.tsx
Due: none

Fix BaseButtonTw icon-only mode rendering as a pill, not a square
  packages/ui/src/BaseButton.tsx
Due: none

Fix column-toggle popover overflow and narrow search panel
  src/navigation/header/search/SearchToggle.tsx
  src/table/TableColumnsButton.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Center BaseButtonTw's icon within its wrapper span
  packages/ui/src/BaseButton.tsx
Due: none

Fix a systemic Popover positioning bug: Bootstrap's .popover fights Radix
  src/matrix/chat/MatrixChatHeader.tsx
  src/matrix/chat/call/CallSettingsMenu.tsx
  src/navigation/header/breadcrumb/DropdownBreadcrumbItem.tsx
  src/navigation/header/search/SearchToggle.scss
  src/navigation/header/search/SearchToggle.tsx
  src/table/ExpandableRowToolbar.tsx
  src/table/TableColumnsButton.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Replace PlusIcon with PlusCircleIcon in BaseButton stories
  packages/ui/src/BaseButton.stories.tsx
Due: none

Fix sidebar accordion collapse not animating on open
  src/metronic/sass/custom/_aside.scss
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fix sidebar accordion height staying unset on first open
  src/metronic/sass/custom/_aside.scss
  src/navigation/sidebar/MenuAccordion.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Read the queue kind and consumer from the API instead of the name
  generate-filters-config.yaml
  package.json
  src/administration/pubsub/EventConsumersCard.tsx
  src/administration/rabbitmq/QueueKindBadge.tsx
  src/administration/rabbitmq/RabbitMQVhostExpandableRow.test.tsx
  src/administration/rabbitmq/RabbitMQVhostExpandableRow.tsx
  src/administration/rabbitmq/utils.test.ts
  src/administration/rabbitmq/utils.ts
  src/administration/site-agents/AgentIdentityExpandableRow.test.tsx
  src/administration/site-agents/AgentIdentityExpandableRow.tsx
  src/administration/site-agents/AgentQueuesTable.tsx
  src/table/generated/EventConsumersFilter.tsx
  template.json
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fix marketplace landing filter popup rendering outside the viewport
  src/marketplace/landing/MarketplaceLandingFilter.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Bound the heap of the cold-path budget build [#261]
  .gitlab-ci.yml
Due: Run code duplication detection

Update enums and descriptions from Waldur Mastermind
  src/SettingsDescription.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fix issues found by a systematic MR review
  src/core/WrappedTabs.tsx
  src/marketplace/category/PublicOfferingsList.tsx
  src/metronic/sass/custom/_dropdown.scss
  src/navigation/NavMenu.tsx
  src/navigation/sidebar/BrandName.tsx
  src/navigation/sidebar/MenuAccordion.tsx
  src/table/ActionsDropdown.tsx
  src/user/support/UserBulkActions.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Hang the applicant's tracker note on the step it describes [#233]
  src/metronic/sass/custom/ProgressSteps.scss
  src/proposals/proposal/WorkflowTimeline.tsx
  src/proposals/proposal/create/ProgressSteps.tsx
  src/wizard/ProgressSteps.tsx
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Register the affiliated-organization report screen [#312]
  src/SettingsDescription.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Drive every select colour from the design tokens [#230]
  src/form/select/WindowedSelect.test.tsx
  src/form/select/WindowedSelect.tsx
  src/form/select/theme.ts
  src/form/select/useSelect.ts
  src/metronic/sass/custom/_select.scss
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fix stray focus-ring border on NavMenu row hover
  src/metronic/sass/custom/_menu.scss
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Distill migration notes into a durable architecture reference
  docs/tailwind-shadcn-migration-notes.md
Due: none

Match NavMenuSubContent's item weight/padding to its parent menu
  src/navigation/NavMenu.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Highlight the active row inside the Credentials submenu
  src/navigation/header/UserDropdownMenuItems.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Path conditions:
  Run linters: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, package.json, yarn.lock, tsconfig.json, typings.d.ts, webpack.*, .eslintrc.js, .eslintignore
  Run code duplication detection: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, .gitlab-ci.yml
  Run jest tests: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, package.json, yarn.lock, tsconfig.json, typings.d.ts, webpack.*, test/*, jest.config.js
  Run E2E tests: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, package.json, yarn.lock, tsconfig.json, typings.d.ts, webpack.*, cypress/**/*, cypress.config.ts
