Repository waldur/waldur-homeport: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Path conditions:
  Run linters: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, package.json, yarn.lock, tsconfig.json, typings.d.ts, webpack.*, .eslintrc.js, .eslintignore
  Run code duplication detection: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, .gitlab-ci.yml
  Run jest tests: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, package.json, yarn.lock, tsconfig.json, typings.d.ts, webpack.*, test/*, jest.config.js
  Run E2E tests: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, package.json, yarn.lock, tsconfig.json, typings.d.ts, webpack.*, cypress/**/*, cypress.config.ts

Scaffold organization-admin dashboard UI primitives in packages/ui
  apps/micro-app-poc/README.md
  apps/micro-app-poc/package.json
  apps/micro-app-poc/src/App.tsx
  apps/micro-app-poc/src/OrgDashboardMock.tsx
  apps/micro-app-poc/src/tailwind.css
  apps/micro-app-poc/vite.config.ts
  docs/micro-apps.md
  packages/design-tokens/package.json
  packages/design-tokens/src/index.ts
  packages/design-tokens/src/initFontFamily.ts
  packages/design-tokens/src/surfaceColors.css
  packages/design-tokens/src/theme.ts
  packages/eslint-plugin-waldur/rules/no-hand-rolled-table.js
  packages/i18n-runtime/src/index.ts
  packages/i18n-runtime/src/languageUtils.test.ts
  packages/i18n-runtime/src/languageUtils.ts
  packages/i18n-runtime/src/useLanguageSelector.ts
  packages/ui/package.json
  packages/ui/src/Avatar.tsx
  packages/ui/src/Badge.tsx
  packages/ui/src/Card.tsx
  packages/ui/src/DataTable.stories.tsx
  packages/ui/src/DataTable.tsx
  packages/ui/src/DropdownMenu.tsx
  packages/ui/src/Sheet.tsx
  packages/ui/src/Sidebar.stories.tsx
  packages/ui/src/Sidebar.tsx
  packages/ui/src/StatCard.stories.tsx
  packages/ui/src/StatCard.tsx
  packages/ui/src/StatusPill.stories.tsx
  packages/ui/src/StatusPill.tsx
  packages/ui/src/Table.tsx
  packages/ui/src/TopBar.stories.tsx
  packages/ui/src/TopBar.tsx
  packages/ui/src/index.ts
  packages/ui/src/useIsMobile.ts
  src/tailwind.css
  vite.config.ts
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Listen on IPv6 as well as IPv4 in the homeport nginx config [waldur/waldur-mastermind#278]
  docker/entrypoint.sh
  docker/nginx-tpl.conf
Due: none

Remove the unused docker/nginx.conf [waldur/waldur-mastermind#278]
  docker/nginx.conf
Due: none

Read credit drawdown from the ledger instead of inferring it
  package.json
  src/project/policy-watch/creditBreakdown.test.ts
  src/project/policy-watch/creditBreakdown.ts
  src/project/policy-watch/types.ts
  src/project/policy-watch/usePolicyWatchData.ts
  src/project/policy-watch/views/HealthView.tsx
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fix the init query param name to return_url instead of redirect_uri
  src/auth/utils.test.ts
  src/auth/utils.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Show shared POSIX identities and make the pool list searchable
  generate-filters-config.yaml
  package.json
  src/marketplace/service-providers/offering-users/OfferingUsersExpandableRow.tsx
  src/marketplace/service-providers/posix-id-pools/PosixIdPoolIdentitiesButton.tsx
  src/marketplace/service-providers/posix-id-pools/PosixIdPoolIdentitiesDialog.tsx
  src/table/generated/MarketplacePosixIdentitiesFilter.tsx
  src/user/UserPosixIdentitiesDialog.tsx
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Never emit a blank entry from CommaSeparatedListField [#216]
  src/form/CommaSeparatedListField.test.tsx
  src/form/CommaSeparatedListField.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Add order notification recipients to offering integration settings [#214]
  package.json
  src/core/validators.ts
  src/marketplace/offerings/update/integration/LifecyclePolicySection.tsx
  src/marketplace/offerings/update/integration/utils.ts
  src/permissions/utils.ts
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Give the offering filter options react-select can read [#219]
  src/proposals/proposal/create/resource-requests-step/CallOfferingFilter.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fix display issues in service provider customers tables
  src/marketplace/service-providers/CustomerNameColumn.tsx
  src/marketplace/service-providers/OrganizationProjectsExpandable.tsx
  src/marketplace/service-providers/ProviderOrganizationsList.tsx
  src/marketplace/service-providers/ProviderUserCustomersList.tsx
  src/table/TableHeader.scss
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

TosConsentWarningBanner now checks whether an offeringuser exists for the resource
  package.json
  src/marketplace/resources/details/ResourceDetailsContainer.tsx
  src/marketplace/resources/details/TosConsentWarningBanner.tsx
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Continue dashboard micro-app: Metronic parity + shared UI extraction
  apps/micro-app-poc/package.json
  apps/micro-app-poc/src/App.tsx
  apps/micro-app-poc/src/OrgDashboardMock.tsx
  apps/micro-app-poc/src/OrgSwitcherMenu.tsx
  apps/micro-app-poc/src/main.tsx
  apps/micro-app-poc/src/sidebarStyleConfig.ts
  apps/micro-app-poc/src/useCurrentUser.ts
  apps/micro-app-poc/src/useDashboardData.ts
  packages/design-tokens/src/index.ts
  packages/design-tokens/src/initSidebarStyle.ts
  packages/design-tokens/src/surfaceColors.css
  packages/eslint-plugin-waldur/rules/enforce-badge-design-tokens.js
  packages/ui/src/Avatar.tsx
  packages/ui/src/Badge.tsx
  packages/ui/src/CopyButton.tsx
  packages/ui/src/DropdownMenu.tsx
  packages/ui/src/LanguageMenu.tsx
  packages/ui/src/Sidebar.stories.tsx
  packages/ui/src/Sidebar.tsx
  packages/ui/src/StatCard.tsx
  packages/ui/src/Switch.tsx
  packages/ui/src/TopBar.tsx
  packages/ui/src/UserMenu.tsx
  packages/ui/src/iconButtonStyles.ts
  packages/ui/src/index.ts
  packages/ui/src/languageFlags.ts
  yarn.lock
Due: Run linters, Run jest tests, Run E2E tests

Hide the provider action group from users without provider roles [#220]
  src/marketplace/resources/actions/ActionGroup.tsx
  src/marketplace/resources/actions/ActionsList.tsx
  src/resource/actions/ResourceActionComponent.test.tsx
  src/resource/actions/ResourceActionComponent.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Wire the dependency licence gate into CI [waldur/waldur-mastermind#285]
  .gitlab-ci.yml
  .yarn/plugins/@yarnpkg/plugin-licenses.cjs
  .yarnrc.yml
Due: Run code duplication detection

Replace react-leaflet with direct Leaflet bindings [#223]
  package.json
  src/map/GeoSearchControlElement.tsx
  src/map/LeafletMap.tsx
  src/map/LocationContainer.tsx
  src/map/MapContainer.tsx
  src/map/MapContext.ts
  src/map/Marker.tsx
  src/map/OpenStreetMapTileLayer.tsx
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

StatCard visual parity + dropdown animation + shared parity harness
  apps/micro-app-poc/src/tailwind.css
  e2e-visual/base-button-parity.spec.ts
  e2e-visual/stat-card-parity.spec.ts
  e2e-visual/visualParityHarness.ts
  packages/ui/src/Card.tsx
  packages/ui/src/DropdownMenu.tsx
  packages/ui/src/StatCard.tsx
  src/core/StatCardParity.stories.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Remove default state filter from offering orders list
  src/marketplace/offerings/details/OfferingOrdersList.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Exempt staff and support from offering role restriction in the order form [waldur/waldur-mastermind#288]
  src/marketplace/deploy/DeployPage.tsx
  src/marketplace/deploy/initUtils.ts
  src/marketplace/details/CustomerField.tsx
  src/marketplace/details/ProjectField.tsx
  src/marketplace/offerings/utils.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fix VMware order form crash in composed validators [gh-100]
  src/core/validators.test.ts
  src/core/validators.ts
  src/vmware/deploy/FormProcessorStep.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Gate the credit dashboard blocks on the credit, not on a staff toggle
  src/project/ProjectDashboard.tsx
  src/project/manage/ProjectGeneral.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Add error boundary to the anonymous chat panel
  src/ai-assistant/anonymous/AnonymousChatPanel.test.tsx
  src/ai-assistant/anonymous/AnonymousChatPanel.tsx
  src/chat/UnifiedChatDrawer.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Add waldur-shell package; locale dedup; drop i18n labels prop
  apps/micro-app-poc/README.md
  apps/micro-app-poc/package.json
  apps/micro-app-poc/src/App.tsx
  apps/micro-app-poc/src/OrgDashboardMock.tsx
  apps/micro-app-poc/src/sidebarStyleConfig.ts
  docs/micro-apps.md
  packages/i18n-runtime/src/index.ts
  packages/i18n-runtime/src/loadSharedLocale.ts
  packages/shell/package.json
  packages/shell/src/AppShell.tsx
  packages/shell/src/bootstrap.ts
  packages/shell/src/index.ts
  packages/shell/src/sharedStorage.ts
  packages/shell/src/sidebarStyleConfig.ts
  packages/shell/src/useShellTheme.ts
  packages/ui/package.json
  packages/ui/src/CopyButton.tsx
  packages/ui/src/LanguageMenu.tsx
  packages/ui/src/Sheet.tsx
  packages/ui/src/UserMenu.tsx
  packages/ui/src/index.ts
  packages/ui/src/useIsMobile.ts
  src/i18n/LanguageUtilsService.ts
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Choose the call manager and workflow when offering via call [#227]
  src/marketplace/offerings/actions/OfferViaCallAction.test.tsx
  src/marketplace/offerings/actions/OfferViaCallAction.tsx
  src/marketplace/offerings/actions/OfferViaCallDetailsStep.tsx
  src/marketplace/offerings/actions/OfferViaCallDialog.test.tsx
  src/marketplace/offerings/actions/OfferViaCallDialog.tsx
  src/marketplace/offerings/actions/OfferViaCallWorkflowStep.test.tsx
  src/marketplace/offerings/actions/OfferViaCallWorkflowStep.tsx
  src/marketplace/offerings/actions/offerViaCall.test.ts
  src/marketplace/offerings/actions/offerViaCall.ts
  src/marketplace/offerings/actions/offerViaCallForm.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fix systematic machine-translation errors across locales [#228]
  locales/ar.json
  locales/az.json
  locales/bn.json
  locales/cs.json
  locales/da.json
  locales/de.json
  locales/es.json
  locales/et.json
  locales/fa.json
  locales/fi.json
  locales/fr.json
  locales/it.json
  locales/ky.json
  locales/lt.json
  locales/lv.json
  locales/nb.json
  locales/nl-BE.json
  locales/nl.json
  locales/pl.json
  locales/ru.json
  locales/sv.json
  locales/th.json
  locales/uk.json
Due: none

Show the call managing organisation in the round details [waldur/waldur-mastermind#53]
  src/marketplace/offerings/access/RoundExpandableRow.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Correct three credit figures that a role review found wrong
  src/project/policy-watch/components/PacingIndicator.tsx
  src/project/policy-watch/creditEvents.test.ts
  src/project/policy-watch/creditEvents.ts
  src/project/policy-watch/creditRunway.test.ts
  src/project/policy-watch/creditRunway.ts
  src/project/policy-watch/types.ts
  src/project/policy-watch/usePolicyWatchData.ts
  src/project/policy-watch/views/HealthView.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Link micro-app-poc by URL so the synced docs copy resolves
  docs/micro-apps.md
Due: none

Start E2E as soon as the image exists, and shard the visual suite [waldur/waldur-mastermind#293]
  .gitlab-ci.yml
Due: Run code duplication detection

Ask for science domain instead of OECD code on proposals [waldur/waldur-mastermind#32]
  package.json
  src/project/create/ScienceDomainGroup.tsx
  src/proposals/proposal/UserProposalsList.tsx
  src/proposals/proposal/create/ProjectDetailsStep.tsx
  src/proposals/proposal/create/ProjectDetailsSummary.tsx
  src/proposals/proposal/create/ProposalSubmissionStep.tsx
  src/proposals/proposal/create/steps.ts
  src/proposals/review/ReviewExpandableRow.tsx
  src/proposals/round/proposals/ShowReviewCommentsAction.tsx
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Pace the month against cost the credit actually covers
  package.json
  src/project/policy-watch/components/PacingIndicator.tsx
  src/project/policy-watch/creditPacing.test.ts
  src/project/policy-watch/creditPacing.ts
  src/project/policy-watch/types.ts
  src/project/policy-watch/usePolicyWatchData.ts
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Feature/39 catch hand rolled btn alert markup in linter
  docs/architecture.md
  eslint.config.js
  packages/eslint-plugin-waldur/index.js
  packages/eslint-plugin-waldur/rules/bootstrap-button-wrappers.js
  packages/eslint-plugin-waldur/rules/bootstrap-markup.test.ts
  packages/eslint-plugin-waldur/rules/class-name-tokens.js
  packages/eslint-plugin-waldur/rules/no-bootstrap-button-markup.js
  packages/eslint-plugin-waldur/rules/no-direct-bootstrap-button.js
  packages/eslint-plugin-waldur/rules/prefer-alert-item.js
Due: none

Tell the applicant why Submit is refused, before they press it [waldur/waldur-mastermind#290]
  src/proposals/proposal/create/ProposalSidebar.tsx
  src/proposals/proposal/create/ProposalSubmissionStep.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Add Tailwind Badge component with visual parity harness
  apps/micro-app-poc/src/tailwind.css
  e2e-visual/badge-parity.spec.ts
  e2e-visual/visualParityHarness.ts
  packages/design-tokens/package.json
  packages/design-tokens/src/badgeColors.css
  packages/design-tokens/src/colors.css
  packages/ui/src/Badge.tsx
  packages/ui/src/StatusPill.tsx
  packages/ui/src/UserMenu.tsx
  packages/ui/src/index.ts
  src/core/BadgeParity.stories.tsx
  src/tailwind.css
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

[#224] Lazy-load ProviderLocationTab to split Leaflet out of the dialog chunk
  src/marketplace/details/OfferingTabs.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Render the Project details step from the call's field configuration [waldur/waldur-mastermind#291]
  package.json
  src/project/create/ScienceDomainGroup.tsx
  src/proposals/proposal/create/ProjectDetailsStep.tsx
  src/proposals/proposal/create/ProposalManagePage.tsx
  src/proposals/proposal/create/ProposalSubmissionStep.tsx
  src/proposals/proposal/create/proposalFields.test.ts
  src/proposals/proposal/create/proposalFields.ts
  src/proposals/proposal/create/steps.ts
  src/proposals/types.ts
  src/proposals/update/CallUpdateContainer.tsx
  src/proposals/update/configuration/ProposalFieldsSection.tsx
  src/proposals/update/configuration/proposalFieldCopy.ts
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Sort anonymous chat severity column by rank
  src/support/ai-assistant/AnonymousChatPanel.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

[#225] Show configured latitude and longitude where location is configured and on map
  src/customer/details/CustomerLocationRow.tsx
  src/map/LocationContainer.tsx
  src/map/coordinates.ts
  src/marketplace/offerings/update/overview/OverviewSection.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Conceal navigation to states this deployment has disabled
  src/core/Link.tsx
  src/core/stateVisibility.test.ts
  src/core/stateVisibility.ts
  src/navigation/sidebar/MenuItem.tsx
  src/reporting/ReportingLayout.tsx
  src/reporting/ReportingReportList.tsx
  src/reporting/ReportsBreadcrumbs.tsx
  src/reporting/constants.ts
  src/reporting/tabs.test.ts
  src/reporting/tabs.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Expand project details step by default in proposal form
  src/proposals/proposal/create/ProposalSubmissionStep.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests
