Repository waldur/waldur-homeport: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Run linters:
  stage: test
  interruptible: true
  script:
  - yarn format:check
  - yarn lint:check
  - yarn style:check
  - yarn deps:check

Run code duplication detection:
  stage: test
  interruptible: true
  script:
  - npm install -g jscpd
  - npx jscpd src/ --exitCode 1 -r consoleFull --pattern "**/*.scss"
  - npx jscpd src/ --exitCode 1 -r consoleFull --pattern "**/*.tsx" -k 250

Run jest tests:
  stage: test
  interruptible: true
  script:
  - yarn test
  coverage: /All\sfiles.*?\s+(\d+.\d+)/
  artifacts:
    when: always
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml

Run E2E tests:
  image:
    name: registry.hpc.ut.ee/mirror/cypress/included:13.2.0
    entrypoint:
    - ''
  stage: test
  interruptible: true
  script:
  - NO_COLOR=1 yarn ci:test
  artifacts:
    expire_in: 1 week
    when: always
    paths:
    - cypress/screenshots
    - cypress/videos
    reports:
      junit:
  ...

chore: upgrade Vite 7.1.11 to 8.0.0 with Rolldown bundler
  package.json
  src/marketplace/offerings/details/policies/PolicyCreateForm.test.tsx
  vite-plugin-react-displayname.ts
  vitest.config.ts
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

fix: Enable legacy CJS interop to fix production runtime errors after Vite 8
  vite.config.ts
Due: none

Align expandable table arrows and paddings
  src/table/Table.scss
  src/table/TableBody.test.tsx
  src/table/TableBody.tsx
  src/table/TableHeader.scss
  src/table/TableHeader.test.tsx
  src/table/TableHeader.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Add port security toggle to instance creation form [WAL-9779]
  package.json
  src/openstack/openstack-instance/deploy/FormNetworkSecurityStep.tsx
  src/openstack/openstack-instance/serializers.ts
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

feat: Make reporting screens toggleable
  docs/configuration-management.md
  docs/menu-navigation.md
  src/SettingsDescription.ts
  src/administration/reporting/AdministrationReporting.tsx
  src/administration/routes.ts
  src/afterBootstrap.tsx
  src/auth/layouts/AnimatedGradientLayout.tsx
  src/auth/layouts/BrandPatternLayout.tsx
  src/auth/layouts/DuotoneLayout.tsx
  src/auth/layouts/GradientLayout.tsx
  src/auth/layouts/StatsLayout.tsx
  src/auth/types.ts
  src/core/utils.ts
  src/dashboard/constants.ts
  src/dashboard/utils.ts
  src/marketplace/aggregate-limits/utils.ts
  src/marketplace/resources/usage/UsageExportDropdown.tsx
  src/navigation/sidebar/ReportingMenu.tsx
  src/reporting/dashboard/ReportingDashboard.tsx
  src/reporting/routes.ts
  src/reporting/utils.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

feat: Remove temporary `invoice_item_prefix` type extension and cast
  src/administration/arrow/settings/ArrowHowItWorksDialog.tsx
  src/administration/arrow/settings/ArrowSettingsCard.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Downgrade to Vite 7
  eslint.config.js
  generate-filters.cjs
  package.json
  vite.config.ts
  vitest.config.ts
  yarn.lock
Due: Run linters, Run jest tests, Run E2E tests

Fix CSV re-parse when file changes in upload wizards [HPCMP-449]
  src/project/course-accounts/Step2PreviewAndCreate.tsx
  src/project/import/Step5PreviewAndImport.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

fix: Fix translation label typos and update locale keys
  locales/et.json
  locales/lt.json
  src/auth/SigninForm.tsx
  src/customer/service-accounts/ServiceAccountFormDialog.tsx
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Add grace period UI improvements [WAL-9782]
  package.json
  src/customer/details/CustomerDetailsPanel.tsx
  src/customer/details/EditFieldDialog.tsx
  src/marketplace/resources/details/EndDateField.tsx
  src/marketplace/resources/list/ResourceTerminationDateField.tsx
  src/navigation/Layout.tsx
  src/project/GracePeriodWarningBar.tsx
  src/project/ProjectCard.tsx
  src/project/ProjectEndDateField.tsx
  src/project/create/EndDateGroup.tsx
  src/project/manage/EditFieldDialog.tsx
  src/project/manage/ProjectGeneral.tsx
  src/user/affiliations/ProjectsList.tsx
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Add CI job for YOLO image build
  .gitlab-ci.yml
Due: Run code duplication detection

Add E2E job trigger
  .gitlab-ci.yml
Due: Run code duplication detection

Fix table toolbar button sizes (use lg, incl. Export)
  src/customer/team/TeamDropdownActions.tsx
  src/invitations/InvitationsList.tsx
  src/marketplace/types.ts
  src/openstack/openstack-instance/__snapshots__/InternalIpsList.test.tsx.snap
  src/table/ActionsDropdown.tsx
  src/table/TableButtons.tsx
  src/table/TableMoreActions.tsx
  src/table/ToolbarButton.tsx
  src/table/types.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Add report filters, chart composition, and page layout guidelines with ESLint rules
  docs/ui-consistency-guidelines.md
Due: none

Revert "Add report filters, chart composition, and page layout guidelines with ESLint rules"
  docs/ui-consistency-guidelines.md
Due: none

Temporarily disable integration tests trigger
  .gitlab-ci.yml
Due: Run code duplication detection

Update enums and descriptions from Waldur Mastermind
  src/SettingsDescription.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Add LDAP agent .env file generator dialog for SLURM offerings
  src/marketplace/offerings/update/integration/CredentialsSection.tsx
  src/site-agent/GenerateSiteAgentConfigForOfferingButton.tsx
  src/site-agent/LdapAgentEnvDialog.tsx
  src/site-agent/LdapAgentEnvPreview.tsx
  src/site-agent/SlurmOfferingActions.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Revert "Revert "Add report filters, chart composition, and page layout...
  docs/ui-consistency-guidelines.md
Due: none

[WAL-9652] Implement RBAC for AI Assistant
  package.json
  src/ai-assistant/utils.ts
  src/auth/types.ts
  src/navigation/header/LLMChatDrawerToggle.tsx
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fix LLM_CHAT_ENABLED_ROLES read from wrong config section
  src/ai-assistant/utils.ts
  src/auth/types.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Add post-bulk-create status summary for course accounts [HPCMP-449]
  src/project/course-accounts/CourseAccountFormDialog.tsx
  src/project/course-accounts/ProjectCourseAccountsList.tsx
  src/project/course-accounts/Step2PreviewAndCreate.tsx
  src/project/course-accounts/Step3CreationProgress.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Implement visual layout selector
  src/administration/settings/ConfigurationEditButton.tsx
  src/administration/settings/ConfigurationEditDialog.tsx
  src/auth/LayoutPreview.tsx
  src/auth/VisualLayoutSelector.css
  src/auth/VisualLayoutSelector.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Update enums and descriptions from Waldur Mastermind
  src/SettingsDescription.ts
  src/features/FeaturesDescription.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

[WAL-9788] Refactor AI Assistant-related code.
  src/administration/ai-assistant/AIAssistantSettings.tsx
  src/ai-assistant/utils.ts
  src/auth/types.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

feat: Rebrand eduTEAMS to MyAccessID in UI
  src/administration/providers/IdentityProvidersList.tsx
  src/auth/providers/IdentityProviderLogo.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

[WAL-9789] Avoid showing tool call details to user in AI Assistant chat
  package.json
  src/support/SupportAIAssistantLogsExpandableRow.tsx
  yarn.lock
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fix: Update clipboard copy value to use content_display for AI Assistant logs
  src/support/SupportAIAssistantLogsExpandableRow.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Revert "Temporarily disable integration tests trigger"
  .gitlab-ci.yml
Due: Run code duplication detection

Improve reporting
  src/reporting/dashboard/ReportingDashboard.tsx
  src/reporting/usage-monitoring/MissingUsageTable.tsx
  src/reporting/usage-monitoring/UsageMonitoringFilter.tsx
  src/reporting/usage-monitoring/UsageMonitoringPage.tsx
  src/reporting/usage-monitoring/types.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fix notification update dialog Save doing nothing when template content is null
  src/administration/notifications/NotificationUpdateDialog.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Table fixes for Audit log pages
  src/maintenance/create/MaintenanceSaveAsDropdown.tsx
  src/marketplace/offerings/update/integration/ScriptEditorHeader.tsx
  src/openstack/openstack-instance/serializers.ts
  src/table/ActionsDropdown.tsx
  src/table/TableHeader.scss
  src/table/TableHeader.tsx
  src/table/TableMoreActions.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

typo
  src/reporting/dashboard/ReportingDashboard.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Improve stats
  src/core/StatsCard.tsx
  src/reporting/dashboard/ReportingDashboard.tsx
  src/reporting/project-classification/ClassificationSummaryCards.tsx
  src/reporting/project-classification/IndustryUsageTab.tsx
  src/reporting/project-classification/OecdUsageTab.tsx
  src/reporting/project-classification/ProjectClassificationPage.tsx
  src/reporting/proposals/CallPerformanceAnalyticsPage.tsx
  src/reporting/proposals/CallPerformanceList.tsx
  src/reporting/proposals/ProposalAnalyticsButtons.tsx
  src/reporting/provisioning-stats/ProvisioningByStateChart.tsx
  src/reporting/resource-usage/ResourceUsageList.tsx
  src/reporting/resource-usage/UserUsageList.tsx
  src/reporting/resources-geography/ResourcesGeographyPage.tsx
  src/reporting/resources-geography/ResourcesGeographySummaryCards.tsx
  src/reporting/usage-trends/GrowthSummaryCards.tsx
  src/reporting/usage-trends/UsageTrendsFilter.tsx
  src/reporting/usage-trends/UsageTrendsPage.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Remove useless empty object fallback in spread
  src/marketplace/offerings/details/PublicOfferingSoftwareCatalogTable.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Add fixed_ips support to instance port update dialog [gh-76]
  src/openstack/openstack-instance/actions/update-internal-ips/UpdateInternalIpsForm.tsx
  src/openstack/openstack-instance/actions/update-internal-ips/utils.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fix stale provider message on resource details page
  src/marketplace/resources/details/ResourceDetailsContainer.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fix checkbox initial values in Edit user dialog
  src/form/AwesomeCheckboxField.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Reduce resource details action button size to sm
  src/marketplace/resources/ResourceActions.tsx
  src/marketplace/resources/actions/ModalActionsButton.tsx
  src/marketplace/resources/actions/ResourceActionsButton.tsx
  src/marketplace/resources/details/ResourceDetailsHero.tsx
  src/resource/actions/ResourceActionComponent.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Path conditions:
  Run linters: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, package.json, yarn.lock, tsconfig.json, typings.d.ts, webpack.*, .eslintrc.js, .eslintignore
  Run code duplication detection: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, .gitlab-ci.yml
  Run jest tests: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, package.json, yarn.lock, tsconfig.json, typings.d.ts, webpack.*, test/*, jest.config.js
  Run E2E tests: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, package.json, yarn.lock, tsconfig.json, typings.d.ts, webpack.*, cypress/**/*, cypress.config.ts
