Repository waldur/waldur-homeport: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Path conditions:
  Run linters: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, package.json, yarn.lock, tsconfig.json, typings.d.ts, webpack.*, .eslintrc.js, .eslintignore
  Run code duplication detection: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, .gitlab-ci.yml
  Run jest tests: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, package.json, yarn.lock, tsconfig.json, typings.d.ts, webpack.*, test/*, jest.config.js
  Run E2E tests: any of: src/**/*.css, src/**/*.scss, src/**/*.ts, src/**/*.tsx, package.json, yarn.lock, tsconfig.json, typings.d.ts, webpack.*, cypress/**/*, cypress.config.ts

Allow staff to create projects [WAL-7235]
  src/project/GlobalProjectCreateButton.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Expose MTU in openstack settings
  src/openstack/marketplace.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

[WAL-7237] Fix language and api token input sizes
  src/marketplace/common/CountryFlag.tsx
  src/navigation/header/LanguageSelectorDropdown.tsx
  src/navigation/header/UserToken.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

[WAL-7075] Update breadcrumbs for offering views
  src/marketplace/category/AllOfferingsList.tsx
  src/marketplace/offerings/OfferingDetailsUIView.tsx
  src/marketplace/offerings/OfferingEditUIView.tsx
  src/marketplace/offerings/OfferingPublicUIView.tsx
  src/marketplace/offerings/details/OfferingContainer.tsx
  src/marketplace/offerings/utils.ts
  src/navigation/header/breadcrumb/Breadcrumbs.tsx
  src/navigation/types.ts
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Introduce top level settings to Service desk configuration [WAL-7226]
  package.json
  src/SettingsDescription.ts
  src/administration/service-desk/AdministrationServiceDesk.tsx
  src/administration/service-desk/AtlassianSettings.tsx
  src/administration/service-desk/SmaxSettings.tsx
  src/administration/service-desk/SupportSettingsForm.tsx
  src/administration/service-desk/ZammadSettings.tsx
  src/administration/settings/AdministrationBranding.tsx
  src/administration/settings/ConfigurationEditButton.tsx
  src/administration/settings/ConfigurationEditDialog.tsx
  src/administration/settings/FieldRow.tsx
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Updates translations
  locales/ar.json
  locales/az.json
  locales/bn.json
  locales/cs.json
  locales/de.json
  locales/es.json
  locales/et.json
  locales/fi.json
  locales/ky.json
  locales/lt.json
  locales/lv.json
  locales/nb.json
  locales/pl.json
  locales/ru.json
  locales/sv.json
  locales/th.json
  locales/uk.json
Due: none

Updates translations
  locales/ar.json
  locales/az.json
  locales/bn.json
  locales/cs.json
  locales/da.json
  locales/de.json
  locales/es.json
  locales/et.json
  locales/fa.json
  locales/fi.json
  locales/fr.json
  locales/it.json
  locales/ky.json
  locales/lt.json
  locales/lv.json
  locales/nb.json
  locales/nl-BE.json
  locales/nl.json
  locales/pl.json
  locales/ru.json
  locales/sv.json
  locales/th.json
  locales/uk.json
Due: none

Fix editing logic of email fields
  src/user/support/UserEditForm.tsx
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Drop welcome teaser for profile update
  src/user/dashboard/HexagonShape.tsx
  src/user/dashboard/UserDashboard.tsx
  src/user/dashboard/UserWelcome.tsx
  src/user/dashboard/utils.ts
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Updates translations
  locales/ar.json
  locales/az.json
  locales/bn.json
  locales/cs.json
  locales/de.json
  locales/es.json
  locales/et.json
  locales/fi.json
  locales/ky.json
  locales/lt.json
  locales/lv.json
  locales/nb.json
  locales/nl-BE.json
  locales/pl.json
  locales/ru.json
  locales/sv.json
  locales/th.json
  locales/uk.json
Due: none

[WAL-7236] Add copy/paste icon to the email in the invitation table
  src/administration/InvitationList.tsx
  src/invitations/InvitationsList.tsx
  src/project/team/InvitationsList.tsx
  src/proposals/team/InvitationsList.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

[WAL-7239] Refetch the table data if a column is activated from optional columns
  src/table/Table.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

[WAL-7241] Generated offering abbreviation doesn't fit into a logo
  src/dashboard/hero/DashboardHeroLogo2.tsx
  src/dashboard/hero/PublicDashboardHero2.tsx
  src/marketplace/offerings/OfferingViewHero.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

[WAL-7240] Fix size of main action buttons in the tables
  src/marketplace/offerings/actions/ActionsDropdown.tsx
  src/marketplace/offerings/update/RowEditButton.tsx
  src/marketplace/offerings/update/components/EditComponentButton.tsx
  src/marketplace/offerings/update/integration/EditScriptButton.tsx
  src/marketplace/offerings/update/integration/IntegrationSection.tsx
  src/marketplace/offerings/update/integration/SyncButton.tsx
  src/marketplace/offerings/update/options/EditOptionButton.tsx
  src/marketplace/offerings/update/overview/EditGettingStartedButton.tsx
  src/marketplace/offerings/update/overview/EditOverviewButton.tsx
  src/marketplace/offerings/update/overview/OfferingLocationButton.tsx
  src/marketplace/offerings/update/overview/OfferingLogoButton.tsx
  src/marketplace/offerings/update/overview/SetAccessPolicyButton.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Replace FontAwesome icons with Phosphor.
  src/administration/TelemetryExampleButton.tsx
  src/auth/callbacks/AuthLogoutFailed.tsx
  src/auth/valimo/AuthValimoDialog.tsx
  src/booking/deploy/FormPeriodsStep.tsx
  src/form/BoxNumberField.tsx
  src/form/SliderNumberField.tsx
  src/freeipa/FreeIPAAccountCreate.tsx
  src/marketplace/SecretValueField.tsx
  src/marketplace/deploy/steps/FormCloudStep.tsx
  src/marketplace/offerings/list/CreateOfferingButton.tsx
  src/navigation/FooterLinks.tsx
  src/navigation/header/UserToken.tsx
  src/openstack/openstack-backup/actions/NetworksList.tsx
  src/openstack/openstack-instance/SetAllowedAddressPairsDialog.tsx
  src/openstack/openstack-instance/actions/update-floating-ips/FloatingIpRow.tsx
  src/openstack/openstack-instance/deploy/FormNetworkStep.tsx
  src/openstack/openstack-instance/deploy/FormSSHPublicKeysStep.tsx
  src/openstack/openstack-instance/deploy/FormSecurityGroupsStep.tsx
  src/openstack/openstack-security-groups/rule-editor/RuleAddButton.tsx
  src/openstack/openstack-tenant/IpAddressList.tsx
  src/openstack/openstack-tenant/StaticRoutesTable.tsx
  src/rancher/cluster/create/FormDataStorageStep.tsx
  src/rancher/cluster/create/FormNetworkStep.tsx
  src/rancher/cluster/create/FormNodesStep.tsx
  src/user/support/UserTableActions.tsx
  src/vmware/deploy/FormNetworkStep.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Update enums
  src/FeaturesEnums.ts
  src/SettingsDescription.ts
  src/features/FeaturesDescription.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Updates translations
  locales/et.json
Due: none

Introduce project start date field in create/update dialog and summary
  src/FeaturesEnums.ts
  src/features/FeaturesDescription.ts
  src/project/ProjectCreateForm.tsx
  src/project/ProjectDetails.tsx
  src/project/ProjectDetailsButton.tsx
  src/project/ProjectDetailsDialog.tsx
  src/project/ProjectExpandableRowContainer.tsx
  src/project/ProjectProfile.tsx
  src/project/ProjectUpdateContainer.tsx
  src/project/ProjectUpdateForm.tsx
  src/project/ProjectsList.tsx
  src/project/api.ts
  src/project/manage/EditFieldDialog.tsx
  src/project/manage/ProjectGeneral.tsx
  src/user/affiliations/BaseProjectsList.tsx
  src/workspace/types.ts
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Update template
  template.json
Due: none

Fix role render and checkbox click
  src/invitations/actions/RoleGroup.tsx
  src/user/support/UserDeleteAccount.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Use static OECD codes.
  cypress/e2e/project/manage.spec.ts
  src/project/OECD_FOS_2007_CODES.ts
  src/project/ProjectCreateForm.tsx
  src/project/api.ts
  src/project/manage/EditFieldDialog.tsx
  src/project/types.ts
  src/proposals/proposal/create/ProjectDetailsStep.tsx
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Move permissions description to backend [WAL-6561]
  src/administration/roles/PermissionOptions.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

[WAL-7192] Adjust provider's view of request offerings
  src/proposals/details/CallOfferingStateField.tsx
  src/proposals/offering-requests/OfferingRequestsList.tsx
  src/proposals/offering-requests/OfferingRequestsListExpandableRow.tsx
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

[WAL-7234] If dark theme feature is disabled, site will always be served with a light theme
  src/afterBootstrap.tsx
  src/navigation/theme/store.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

[WAL-7219] Add copy/paste icon to order's uuid column
  src/marketplace/orders/list/ResourceOrders.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Skip deleteCustomerUser if user doesn't have customer role yet.
  src/customer/team/EditUserDialog.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Update customer user dialog title
  src/customer/team/EditUserDialog.tsx
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fix test
  cypress/e2e/customer/team.spec.ts
Due: Run E2E tests

Updates translations
  locales/ar.json
  locales/az.json
  locales/bn.json
  locales/cs.json
  locales/da.json
  locales/de.json
  locales/es.json
  locales/et.json
  locales/fi.json
  locales/fr.json
  locales/it.json
  locales/ky.json
  locales/lt.json
  locales/lv.json
  locales/nb.json
  locales/nl.json
  locales/pl.json
  locales/ru.json
  locales/sv.json
  locales/th.json
  locales/uk.json
Due: none

[WAL-7244] Allow disabling display of user termination actions from user profile
  src/FeaturesEnums.ts
  src/features/FeaturesDescription.ts
  src/user/UserManageContainer.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Update enums
  src/FeaturesEnums.ts
  src/features/FeaturesDescription.ts
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Updates translations
  locales/az.json
  locales/et.json
Due: none

[WAL-7254] Optimise organization menu
  src/customer/payments/PaymentsPanel.tsx
  src/customer/routes.ts
  src/invoices/routes.ts
  src/project/ProjectDashboardCostLimits.tsx
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Fallback to username in user select field [WAL-7266]
  src/issues/feedback/UserAutocomplete.tsx
  src/marketplace/common/autocompletes.ts
  src/marketplace/offerings/details/CreateOfferingUserDialog.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Use email for fallback too.
  src/issues/feedback/UserAutocomplete.tsx
  src/marketplace/common/autocompletes.ts
  src/marketplace/offerings/details/CreateOfferingUserDialog.tsx
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Render offering name in document title [WAL-7267]
  src/marketplace/offerings/OfferingViewHero.tsx
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

Allow staff to edit slug for customer and project [WAL-7186]
  src/customer/details/CustomerDetailsPanel.tsx
  src/customer/details/EditFieldDialog.tsx
  src/marketplace/common/api.ts
  src/marketplace/offerings/update/overview/OverviewSection.tsx
  src/marketplace/orders/details/OrderDetailsQuickBody.tsx
  src/marketplace/resources/SetSlugAction.tsx
  src/marketplace/resources/SetSlugDialog.tsx
  src/marketplace/resources/actions/ActionsList.tsx
  src/marketplace/resources/list/PublicResourceActions.tsx
  src/project/manage/EditFieldDialog.tsx
  src/project/manage/ProjectMetadata.tsx
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

[WAL-7276] Change "Add resource" button logic to use common pop-up element
  src/marketplace/resources/list/CategoryResourcesList.tsx
  src/marketplace/resources/list/CreateResourceButton.tsx
  src/marketplace/resources/list/ResourcesAllListTable.tsx
  src/navigation/sidebar/marketplace-popup/DataLoader.tsx
  src/navigation/sidebar/marketplace-popup/MarketplacePopup.tsx
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests

[WAL-7260] Margin between table action buttons is gone, broken style
  src/administration/organizations/OrganizationGroupCreateButton.tsx
  src/customer/list/OrganizationCreateButton.tsx
  src/marketplace/category/admin/CategoryCreateButton.tsx
  src/marketplace/category/admin/GroupCreateButton.tsx
  src/marketplace/resources/actions/AddResourceButton.tsx
  src/marketplace/resources/import/ResourceImportButton.tsx
  src/marketplace/resources/list/CreateResourceButton.tsx
  src/metronic/sass/core/components/buttons/_theme.scss
  src/navigation/sidebar/marketplace-popup/MarketplaceTrigger.tsx
  src/project/GlobalProjectCreateButton.tsx
  src/project/ProjectCreateButton.tsx
  src/table/ActionButton.tsx
  src/table/Table.tsx
  template.json
Due: Run linters, Run code duplication detection, Run jest tests, Run E2E tests
